@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "تأكيد عنوان البريد الإلكتروني";
}

<h1 style="font-family: Cairo;direction:rtl;">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
