@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تأكيد كلمة المرور";
}

<h1 style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
<p style="font-family: Cairo;direction:rtl">
    يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور الخاصة بك.
</p>
